In [1]:
import pandas as pd
df= pd.read_csv("basket_analysis.csv")

In [3]:
df['ID'] = df.index + 1
df = df[["ID",
         "Apple",
         "Bread",
         "Butter",
         "Cheese",
         "Corn",
         "Dill",
         "Eggs",
         "Ice cream",
         "Kidney Beans",
         "Milk",
         "Nutmeg",
         "Onion",
         "Sugar",
         "Unicorn",
         "Yogurt",
         "chocolate"]]
df = df.replace(True,1)
df = df.replace(False,"")
df.to_csv("basket_apriori.csv", index=False)
df

,ID,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,1,,1,,,1,1,,1,,,,,1,,1,1
1,2,,,,,,,,,,1,,,,,,
2,3,1,,1,,,1,,1,,1,,,,,1,1
3,4,,,1,1,,1,,,,1,1,1,,,,
4,5,1,1,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,,1,,,,,1,,,,,,,1,,1
995,996,1,,,,1,,,,1,1,1,,,,1,
996,997,1,,,,1,1,,,,,,,1,,,1
997,998,,,1,1,1,,1,1,1,,1,,1,,1,1
998,999,,,,,,,,,,1,,,,,,1